.btn-login{
    border-radius: 40%;
    padding: 10px;
    margin-top: 58px;
    margin-right: 12px;
    margin-top: 0px;
}

img{
    margin-left: 50px;
    margin-right: -50px;
}

.navbar-nav{
    flex-direction: row;
    margin-left: 15%;
}

.nav-item{
    padding-left:  40px;
    padding-right: 40px;
}
