.imgCarrito{
    float: left;
    margin-right: 40px;
}

.navbar-nav{
    flex-direction: row;
    margin-left: 15%;
}

.nav-item{
    padding-left:  40px;
    padding-right: 40px;
}

.d-inline-block {
    margin-left: 40px;
}